[user]
    email = 09mandrews@gmail.com
    name = mandrews
[color]
    ui = auto
[merge]
    conflictstyle = diff3
    tool          = vimdiff
[alias]
    l = log
    summary = log --pretty=format:"%h%x09%>>(24)%an%x20%x20%x20%x20%s"
    w = watch
    t = watch
    tree = log --graph --all --full-history --color --pretty=format:"%x1b[33m%h%x09%x1b[34m%>>(24)%an%x20%x20%x20%x20%x1b[0m%s%x20%x1b[35m[%cr]%x1b[32m%d"
    d = diff --color-words='[^ \t\n(),]+' --word-diff=plain -b --minimal
    g = grep
    b = branch
    c = commit
    s = status
    a = add
    squash = !squash
    chekcout = checkout
    cp = cherry-pick
    file-log = log --reverse -p --pretty=short
    amend = commit --amend --no-edit
    rebase-stack = rebase --fork-point --update-refs

[url "git@github.com:"]
    insteadOf = https://github.com/

[submodule]
    recurse = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
