[user]
    email = mandrews@memsql.com
    name = mandrews
[color]
	ui = auto
[merge]
    conflictstyle = diff3
    tool          = vimdiff
[alias]
    l = log
    t = log --graph --all --full-history --color --pretty=format:"%x1b[33m%h%x09%x1b[34m%>>(20)%an%x20%x20%x20%x20%x1b[0m%s%x20%x1b[35m[%cr]%x1b[32m%d"
    tree = log --graph --all --full-history --color --pretty=format:"%x1b[33m%h%x09%x1b[34m%>>(20)%an%x20%x20%x20%x20%x1b[0m%s%x20%x1b[35m[%cr]%x1b[32m%d"
    d = diff --color-words='(\\w|\\d)+|[^a-zA-Z0-9 \t]' -b --minimal
    g = grep
    b = branch
    c = commit
    s = status
    a = add
    squash = !squash
    chekcout = checkout

# [commit]
# 	template = /home/mandrews/Projects/memsql/utils/template/commit-template.txt
